*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    width:500px;
    height:500px;
     border-radius: 50px;
    background: #e26600;
    box-shadow:  20px 20px 60px #c05700,
                 -20px -20px 60px #ff7500; 
}

#firstnum{
    background-color:green;
}